.logotype {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: block;
  transition: var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}
.logotype:hover,
.logotype:focus {
  color: var(--accent-color);
}
.logo-item {
  color: var(--accent-color);
}
